@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff;
    background: url('../img/main-bg.png');
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1A3337;

}

.modal-content {
    background-color: #10ACC2;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
}

.modal-title {
    font-size: 48px;
    font-family: 'Roboto-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.container-selects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    border: 6px solid #B1EEF2;
    border-radius: 5px;
    background-color: #B1EEF2;
    padding: 10px;
}

.modal-text {
    color: #001C20;
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.select-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 5px;
    padding-top: 60px;
}

.modal-select {
    position: relative;
    background-color: #001C20;
    padding: 0 40px;
    height: 50px;
    width: 90px;
    line-height: 48px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all linear .2s;
    text-align: center;
}

.modal-select:hover {
    color: #10ACC2;
}

.modal-select::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 10px;
    display: block;
    width: 18px;
    height: 18px;
    background: url('../svg/select-arrow-white.svg') 0 0 no-repeat;
    background-size: 100%;
    transition: all linear .2s;
}

.modal-select:hover::after {
    background: url('../svg/select-arrow-blue.svg') 0 0 no-repeat;
    background-size: 100%;
}

.select-titles {
    position: absolute;
    display: block;
    top: -55px;
    left: 0px;
    z-index: 1;
    max-width: 170px;
    width: 100%;
    height: 50px;
}

.select-titles--category {
    display: none;
}

.select-titles--sizeGame {
    display: none;
}

.select-title {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 5px solid #001C20;
    background-color: #001C20;
    font-size: 20px;
    height: 30px;
    font-family: 'Roboto-Bold';
    color: #fff;
    border-bottom-color: #10ACC2;
    padding: 5px;
    line-height: 30px;
}

.modal-select__list {
    position: absolute;
    display: none;
    top: 55px;
    left: -40px;
    z-index: 1;
    max-width: 170px;
    width: 100%;
}

.modal-select__item {
    height: 30px;
    display: block;
    padding: 10px 30px;
    color: #001C20;
    border-bottom: 1px solid #001C20;
    background-color: #fff;
    transition: all linear .2s;
    text-align: center;
    line-height: 30px;
}

.modal-select__item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-select__item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-select__item:hover {
    color: #fff;
    background-color: #001C20;
}

.modal-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.g-btn {
    border: 1px solid #001C20;
    border-radius: 5px;
    padding: 0 60px;
    height: 50px;
    background-color: #001C20;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: all linear .3s;
}

.g-btn:hover {
    color: #10ACC2;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    display: none;
}

.game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}

.game-title {
    color: #001C20;
    font-size: 56px;
    display: block;

}

.game-title h1 {
    margin: 0 auto;
    padding: 20px 0;
}

.game-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
    padding: 10px 0px;
}

.game-info__result {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #10ACC2;
    border-radius: 15px;
    background-color: #10ACC2;
    color: #B1EEF2;
    padding: 4px;
    font-size: 20px;
    font-family: 'Roboto-Bold';
    margin: 0;
}

.game-info__scorebest {
    /* display: inline-block; */
    border: 5px solid #10ACC2;
    border-radius: 15px;
    background-color: #001C20;
    color: #B1EEF2;
    text-align: center;
    padding: 10px 20px;
    line-height: 40px;
    margin: 0;
    max-width: 150px;
}

.game-info__scorebest input {
    display: block;
    border: none;
    background-color: #001C20;
    color: #B1EEF2;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    outline: none;
}

.game-info__btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: 100%;
}

.game--btn {
    margin-bottom: 10px;
}

.game--btn:last-child {
    margin-bottom: 0;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 660px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid #001C20;
    border-radius: 15px;
    background-color: #001C20;
}

.game div {
    width: 100px;
    height: 100px;
    border: 5px solid #001C20;
    border-radius: 15px;
    cursor: pointer;
    background-color: #10ACC2;
}

.result-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(26, 51, 55);
    background-color: rgba(26, 51, 55,0.4);
}

.result-window-content {
    background-color: #10ACC2;
    margin: 10% auto;
    padding: 40px 20px;
    /* border: 1px solid #888; */
    width: 60%;
    border-radius: 10px;
}

.result-window__title {
    font-size: 48px;
    font-family: 'Roboto-Bold';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-window__text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B1EEF2;
    font-size: 24px;
}

.result-window-content-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* height: 150px; */
}

.result-time {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #10ACC2; */
    /* border-radius: 15px; */
    /* background-color: #10ACC2; */
    color: #B1EEF2;
    /* padding: 4px; */
    font-size: 20px;
    font-family: 'Roboto-Bold';
    /* margin: 0; */
}

.result-window__time {
    border: 6px solid #fff;
    border-radius: 15px;
    background-color: #001C20;
    color: #B1EEF2;
    text-align: center;
    padding: 10px 20px;
    line-height: 40px;
    margin: 0;
    max-width: 150px;
    font-size: 20px;
    font-family: 'Roboto-Bold';
}

.result-window__time span {
    padding: 0 0 0 10px;
    display: block;
}

.result-window-btn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: 150px;
}

.result-window-btn:first-child {
    margin-bottom: 10px;
}

.result-window-btn:last-child {
    margin-bottom: 0;
}
