@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    /* font-family: 'Roboto'; */
}

.container {
    width: 100%;
    max-width: 1150px;
    padding: 60px 20px;
    margin: 0 auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);

}

.modal-content {
    background-color: #fefefe;
    color: #2d3b4d;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal-title {
    color: #2d3b4d;
    font-size: 24;
    /* font-weight: bold; */
    font-family: 'Roboto-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-select__category {
    margin-right: 10px;
    border: 2px solid #2d3b4d;
    border-radius: 10px;
    padding: 0 30px;
    height: 40px;
    color: #2d3b4d;
    font-size: 16px;
    appearance: none;
}

.modal-select__category:last-child {
    margin-right: 0;
}

.modal-select__category:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #2d3b4d;
    border-radius: 10px;
}

.modal-content__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content__close:hover,
.modal-content__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-btn__button {
    border: 2px solid #2d3b4d;
    border-radius: 20px;
    padding: 0 30px;
    height: 40px;
    background-color: #fff;
    color: #2d3b4d;
    cursor: pointer;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.modal-btn__button:hover {
    background-color: #2d3b4d;
    color: #fff;
}

/* .game div{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
} */

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 660px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid #001C20;
    border-radius: 15px;
    background-color: #001C20;
}

.game-icon {
    width: 100px;
    height: 100px;
    border: 5px solid #001C20;
    /* border-width: 6px 3px 6px 3px; */
    border-radius: 15px;
    cursor: pointer;
    background-color: #10ACC2;
    /* float: left; */
}

/* .game-icon:first-child {
    border-width: 6px 3px 6px 6px;
}

.game-icon:last-child {
    border-width: 6px 6px 6px 3px;
} */
